<div layout="column" layout-gt-md="row">
  <div flex="20" style="max-width: 20%;"></div>
  <div flex="60">
    <br>
    <br>
    <br>

    <md-content>
        <md-tabs md-dynamic-height md-border-bottom>
          <!-- ######################### TAB 1 ####################### -->
          <md-tab label="Meeting Details">
          <md-card>
              <md-card-content ng-controller="studentMeetDataCtrl">
                <div layout="column">
                  <form ng-submit="saveData(user,choices)" name="meetingForm" novalidate>
                    <div layout="row">
                      <md-input-container flex>
                          <label>Student</label>
                          <md-select ng-model="user.sr_no">
                          <md-option ng-value="student.student_id+'@'+student.current_class" ng-repeat="student in students" ng-required="true">{{student.firstname}} {{student.lastname}}</md-option>
                      </md-input-container>
                    </div>
                  <div>
                      <div data-ng-repeat="choice in choices" layout="column">
                        <div layout="row">
                          <md-input-container flex>
                              <label>Date of Meeting</label>
                              <input ng-model="choice.dom" type="text" placeholder="dd-mm-yyyy" autocomplete="off" ng-required="true">
                          </md-input-container>

                          <md-input-container flex>
                            <label>Details of the discussion in PTG meeting</label>
                            <input type="d" ng-model="choice.meetingDetails" autocomplete="off" ng-required="true">
                          </md-input-container>
                          <md-input-container flex>
                            <label>Remarks by the PTG</label>
                            <input type="d" ng-model="choice.remarks" autocomplete="off" ng-required="true">
                          </md-input-container>
                        </div>
                        </div>
                       <div layout="row">
                      <md-button type="submit">Save</md-button>
                        </div>

                    <div layout="row">
                      <md-button ng-click="addNewChoice()">Add</md-button>
                      <md-button button  ng-click="removeChoice($index)">Delete</md-button>
                    </div>
                  </div>


                </div>
              </md-card-content>
            </md-card>
          </md-tab>

          <!-- ######################### TAB 2 ####################### -->
         <!-- <md-tab label="PTG RECORD"> -->
              <!-- ##################### CARD 1 ######################-->
              <!-- <md-card>
                <md-card-content ng-controller="ptgRecordDataCtrl">
  <div layout="column">
    <form ng-submit="ptgRecord(user)">
      <div layout="row">
          <md-input-container flex>
              <label>Class</label>
              <md-select ng-model="user.class">
              <md-option ng-value="class.value" ng-repeat="class in classes" ng-required="true">{{class.name}}</md-option>
          </md-input-container>

          <md-input-container flex>
              <label>Semester</label>
              <md-select ng-model="user.sem">
              <md-option ng-value="sem.value" ng-repeat="sem in semester" ng-required="true">{{sem.name}}</md-option>
          </md-input-container>

          <md-input-container flex>
              <label>Student</label>
              <md-select ng-model="user.sr_no">
              <md-option ng-value="student.student_id" ng-repeat="student in students" ng-required="true">{{student.firstname}} {{student.lastname}}</md-option>
          </md-input-container>
      </div>
      <div layout="row">
        {{user}}
      </div>
      <md-button type="submit" class="md-primary">Submit</md-button>
    </form>
    <div ng-show="serverResp">
      <md-subheader class="md-no-sticky">List of PTGs</md-subheader>
      <md-list  ng-cloak flex>
         <md-list-item ng-repeat="staff in staffs">
           <p> {{ staff.firstname }} {{staff.lastname}}  &nbsp;&nbsp;&nbsp; {{staff.phone}} &nbsp;&nbsp;&nbsp; {{staff.email}}</p>
         </md-list-item>
      </md-list>
    </div>
  </div>
  </md-card-content>
              </md-card>
          </md-tab> -->

          <!-- ######################### TAB 3 ####################### -->
         <md-tab label="Critical Analysis">
              <!-- ##################### CARD 1 ######################-->
              <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
                <md-card-content ng-controller="criticalAnalysisDataCtrl">
                <div layout="column">
                  <form ng-submit="criticalAnalysisEntry(user,choices)" name="criticalForm" novalidate>
                    <div layout="row">
                        <md-input-container flex>
                            <label>Student</label>
                            <md-select ng-model="user.sr_no">
                            <md-option ng-value="student.student_id+'@'+student.current_class" ng-repeat="student in students" ng-required="true">{{student.firstname}} {{student.lastname}}</md-option>
                        </md-input-container>
                    </div>

                      <div data-ng-repeat="choice in choices" layout="column">
                        <div layout="row">
                          <md-input-container flex>
                            <label>Type of Feedback</label>
                            <md-select ng-model="choice.type">
                            <md-option ng-value="type.value" ng-repeat="type in types" ng-required="true">{{type.name}}</md-option>
                            </md-select>
                          </md-input-container>
                          </div>
                         <div layout="row">
                          <md-input-container flex>
                            <label>Feedback by PTG</label>
                            <input type="d" ng-model="choice.measures" autocomplete="off" ng-required="true">
                          </md-input-container>
                        </div>
                        </div>
                        <div layout="row">
                          <md-button type="submit" class="md-primary">Save</md-button>
                        </div>
                      </form>
                      <div layout="row">
                        <md-button ng-click="addNewChoice()">Add</md-button>
                        <md-button button  ng-click="removeChoice($index)">Delete</md-button>
                      </div>

                </div>
                </md-card-content>
              </md-card>
          </md-tab>
          <md-tab label="My Students">
            <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
              <md-card-content ng-controller="myStudentsCtrl">
                <md-subheader class="md-no-sticky">List of Students</md-subheader>
                <md-list  ng-cloak flex>
                   <md-list-item ng-repeat="staff in students">
                     <p><a ui-sref="staff.studentProfile({id : staff.student_id,ID : staff.studentID})"> {{ staff.firstname }} {{staff.lastname}} </a>  &nbsp;&nbsp;&nbsp; {{staff.studentID}} &nbsp;&nbsp;&nbsp; {{staff.email}}</p>
                     <span flex></span>
                     <md-button class="md-primary md-raised" ui-sref="staff.validateStudent({id : staff.student_id,ID : staff.studentID})">View Data</md-button>
                   </md-list-item>
                </md-list>
              </md-card-content>
            </md-card>
          </md-tab>
          <md-tab label="Student Assessment">
            <md-card>
              <md-card-content ng-controller="myStudentsAssessmentCtrl">

                <md-subheader class="md-no-sticky">Student Assessment</md-subheader>
                <br>
                <br>
                <div layout="column">
                  <md-subheader class="md-no-sticky">Academic Assessment</md-subheader>

                  <div layout="row">
                      <div layout="column" flex>
                        <md-subheader class="md-no-sticky">Cluster 1 ({{assessment[0][3]}}) </md-subheader>
                        <md-list>
                            <md-list-item ng-repeat="assess in assessment[0][0]">
                              <p style="font-size:12px;"> {{assess.name}} -- {{assess.marks}}</p>
                            </md-list-item>
                        </md-list>
                      </div>
                      <div layout="column" flex>
                        <md-subheader class="md-no-sticky">Cluster 2 ({{assessment[0][4]}})</md-subheader>
                        <md-list>
                            <md-list-item ng-repeat="assess in assessment[0][1]">
                              <p style="font-size:12px;"> {{assess.name}} -- {{assess.marks}}</p>
                            </md-list-item>
                        </md-list>
                      </div>
                      <div layout="column" flex>
                        <md-subheader class="md-no-sticky">Cluster 3 ({{assessment[0][5]}})</md-subheader>
                        <md-list>
                            <md-list-item ng-repeat="assess in assessment[0][2]">
                              <p style="font-size:12px;"> {{assess.name}} -- {{assess.marks}}</p>
                            </md-list-item>
                        </md-list>
                      </div>
                  </div>
                  <md-subheader class="md-no-sticky">Research Assessment</md-subheader>
                  <div layout="row">
                  <div layout="column" flex>
                    <md-subheader class="md-no-sticky">Cluster 1 ({{assessment[1][3]}}) </md-subheader>
                    <md-list>
                        <md-list-item ng-repeat="assess in assessment[1][0]">
                          <p style="font-size:12px;"> {{assess.name}} -- {{assess.marks}}</p>
                        </md-list-item>
                    </md-list>
                  </div>
                  <div layout="column" flex>
                    <md-subheader class="md-no-sticky">Cluster 2 ({{assessment[1][4]}})</md-subheader>
                    <md-list>
                        <md-list-item ng-repeat="assess in assessment[1][1]">
                          <p style="font-size:12px;"> {{assess.name}} -- {{assess.marks}}</p>
                        </md-list-item>
                    </md-list>
                  </div>
                  <div layout="column" flex>
                    <md-subheader class="md-no-sticky">Cluster 3 ({{assessment[1][5]}})</md-subheader>
                    <md-list>
                        <md-list-item ng-repeat="assess in assessment[1][2]">
                          <p style="font-size:12px;"> {{assess.name}} -- {{assess.marks}}</p>
                        </md-list-item>
                    </md-list>
                  </div>
                  </div>

                  <md-subheader class="md-no-sticky">Self Development Assessment</md-subheader>
                  <div layout="row">
                    <div layout="column" flex>
                      <md-subheader class="md-no-sticky">Cluster 1 ({{assessment[2][3]}}) </md-subheader>
                      <md-list>
                          <md-list-item ng-repeat="assess in assessment[2][0]">
                            <p style="font-size:12px;"> {{assess.name}} -- {{assess.marks}}</p>
                          </md-list-item>
                      </md-list>
                    </div>
                    <div layout="column" flex>
                      <md-subheader class="md-no-sticky">Cluster 2 ({{assessment[2][4]}})</md-subheader>
                      <md-list>
                          <md-list-item ng-repeat="assess in assessment[2][1]">
                            <p style="font-size:12px;"> {{assess.name}} -- {{assess.marks}}</p>
                          </md-list-item>
                      </md-list>
                    </div>
                    <div layout="column" flex>
                      <md-subheader class="md-no-sticky">Cluster 3 ({{assessment[2][5]}})</md-subheader>
                      <md-list>
                          <md-list-item ng-repeat="assess in assessment[2][2]">
                            <p style="font-size:12px;"> {{assess.name}} -- {{assess.marks}}</p>
                          </md-list-item>
                      </md-list>
                    </div>
                  </div>

                  <md-subheader class="md-no-sticky">Extra Curricular Assessment</md-subheader>
                  <div layout="row">
                    <div layout="column" flex>
                      <md-subheader class="md-no-sticky">Cluster 1 ({{assessment[3][3]}}) </md-subheader>
                      <md-list>
                          <md-list-item ng-repeat="assess in assessment[3][0]">
                            <p style="font-size:12px;"> {{assess.name}} -- {{assess.marks}}</p>
                          </md-list-item>
                      </md-list>
                    </div>
                    <div layout="column" flex>
                      <md-subheader class="md-no-sticky">Cluster 2 ({{assessment[3][4]}})</md-subheader>
                      <md-list>
                          <md-list-item ng-repeat="assess in assessment[3][1]">
                            <p style="font-size:12px;"> {{assess.name}} -- {{assess.marks}}</p>
                          </md-list-item>
                      </md-list>
                    </div>
                    <div layout="column" flex>
                      <md-subheader class="md-no-sticky">Cluster 3 ({{assessment[3][5]}})</md-subheader>
                      <md-list>
                          <md-list-item ng-repeat="assess in assessment[3][2]">
                            <p style="font-size:12px;"> {{assess.name}} -- {{assess.marks}}</p>
                          </md-list-item>
                      </md-list>
                    </div>
                  </div>
                </div>
              </md-card-content>
            </md-card>
          </md-tab>
        </md-tabs>
      </md-content>
  </div>
  <div flex="20" style="max-width: 20%;"></div>
</div>
