<div layout="column" layout-gt-md="row">
  <div flex="20" style="max-width: 20%;"></div>
  <div flex="60">
    <br>
    <br>
    <br>

    <md-content>
        <md-tabs md-dynamic-height md-border-bottom>
          <!-- ######################### TAB 1 ####################### -->
          <md-tab label="Meeting Details">
          <md-card>
              <md-card-content ng-controller="studentMeetDataCtrl">
                <div layout="column">
                  <form ng-submit="saveData(user,choices)" name="meetingForm" novalidate>
                    <div layout="row">
                      <md-input-container flex>
                          <label>Student</label>
                          <md-select ng-model="user.sr_no">
                          <md-option ng-value="student.student_id+'@'+student.current_class" ng-repeat="student in students" ng-required="true">{{student.firstname}} {{student.lastname}}</md-option>
                      </md-input-container>
                    </div>
                  <div>
                      <div data-ng-repeat="choice in choices" layout="column">
                        <div layout="row">
                          <md-input-container flex>
                              <label>Date of Meeting</label>
                              <input ng-model="choice.dom" type="text" placeholder="dd-mm-yyyy" autocomplete="off" ng-required="true">
                          </md-input-container>

                          <md-input-container flex>
                            <label>Details of the discussion in PTG meeting</label>
                            <input type="d" ng-model="choice.meetingDetails" autocomplete="off" ng-required="true">
                          </md-input-container>
                          <md-input-container flex>
                            <label>Remarks by the PTG</label>
                            <input type="d" ng-model="choice.remarks" autocomplete="off" ng-required="true">
                          </md-input-container>
                        </div>
                        </div>
                       <div layout="row">
                      <md-button type="submit">Save</md-button>
                        </div>

                    <div layout="row">
                      <md-button ng-click="addNewChoice()">Add</md-button>
                      <md-button button  ng-click="removeChoice($index)">Delete</md-button>
                    </div>
                  </div>


                </div>
              </md-card-content>
            </md-card>
          </md-tab>

          <!-- ######################### TAB 2 ####################### -->
         <md-tab label="PTG RECORD">
              <!-- ##################### CARD 1 ######################-->
              <md-card>
                <md-card-content ng-controller="ptgRecordDataCtrl">
                <div layout="column">
                  <form ng-submit="ptgRecordEntry(ptgRecordData)" name="ptgRecordForm" novalidate>
                    <div layout="row">
                        <md-input-container flex>
                            <label>Class</label>
                            <md-select ng-model="ptgRecordData.class">
                            <md-option ng-value="class.value" ng-repeat="class in classes" ng-required="true">{{class.name}}</md-option>
                        </md-input-container>

                        <md-input-container flex>
                            <label>Semester</label>
                            <md-select ng-model="ptgRecordData.sem">
                            <md-option ng-value="sem.value" ng-repeat="sem in semester" ng-required="true">{{sem.name}}</md-option>
                        </md-input-container>

                        <md-input-container flex>
                            <label>Student</label>
                            <md-select ng-model="ptgRecordData.sr_no">
                            <md-option ng-value="student.student_id" ng-repeat="student in students" ng-required="true">{{student.firstname}} {{student.lastname}}</md-option>
                        </md-input-container>
                    </div>
                    <md-button type="submit" class="md-primary">Submit</md-button>
                  </form>
                  <div ng-show="serverResp">
                    <md-subheader class="md-no-sticky">List of PTGs</md-subheader>
                    <md-list  ng-cloak flex>
                       <md-list-item ng-repeat="staff in staffs">
                         <p> {{ staff.firstname }} {{staff.lastname}}  &nbsp;&nbsp;&nbsp; {{staff.phone}} &nbsp;&nbsp;&nbsp; {{staff.email}}</p>
                       </md-list-item>
                    </md-list>
                  </div>
                </div>
                </md-card-content>
              </md-card>
          </md-tab>

          <!-- ######################### TAB 3 ####################### -->
         <md-tab label="Critical Analysis">
              <!-- ##################### CARD 1 ######################-->
              <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
                <md-card-content ng-controller="criticalAnalysisDataCtrl">
                <div layout="column">
                  <form ng-submit="criticalAnalysisEntry(user,choices)" name="criticalForm" novalidate>
                    <div layout="row">
                        <md-input-container flex>
                            <label>Student</label>
                            <md-select ng-model="user.sr_no">
                            <md-option ng-value="student.student_id+'@'+student.current_class" ng-repeat="student in students" ng-required="true">{{student.firstname}} {{student.lastname}}</md-option>
                        </md-input-container>
                    </div>

                      <div data-ng-repeat="choice in choices" layout="column">
                        <div layout="row">
                          <md-input-container flex>
                            <label>Type of Feedback</label>
                            <md-select ng-model="choice.type">
                            <md-option ng-value="type.value" ng-repeat="type in types" ng-required="true">{{type.name}}</md-option>
                            </md-select>
                          </md-input-container>
                          </div>
                         <div layout="row">
                          <md-input-container flex>
                            <label>Feedback by PTG</label>
                            <input type="d" ng-model="choice.measures" autocomplete="off" ng-required="true">
                          </md-input-container>
                        </div>
                        </div>
                        <div layout="row">
                          <md-button type="submit" class="md-primary">Save</md-button>
                        </div>
                      </form>
                      <div layout="row">
                        <md-button ng-click="addNewChoice()">Add</md-button>
                        <md-button button  ng-click="removeChoice($index)">Delete</md-button>
                      </div>

                </div>
                </md-card-content>
              </md-card>
          </md-tab>

          <!--- - - - - - - - - - - - -  - TAB 4 Student Validation -->
          <md-tab label="Validate Student ">
              <!-- ##################### CARD 1 ######################-->
              <md-card>
             <md-card-title>
                <md-card-title-text>
                  <span class="md-headline">Certificate Validation</span>
                   </md-card-title-text>
              </md-card-title>
              <md-card-content>
                <md-content class="md-padding" ng-controller="validateCertificateCtrl">
                  <div layout="column">
                    <form ng-submit="selectStudent(userData)" name="validateCertificateForm" novalidate>
                      <div layout="row">
                        <md-input-container class="md-block" flex-gt-sm>
                                <label>Select Student</label>
                                <md-select ng-model="userData.student">
                                <md-option ng-value="student.value" ng-repeat="student in students" ng-required="true">{{student.name}}</md-option>
                                </md-select>
                        </md-input-container>
                      </div>
                      <md-button type="submit" class="md-primary">Submit</md-button>
                     </form>
                 </div>

                   <div layout="column" >
                      <form ng-submit="validateCertificate(certificateData)" novalidate>
                        <div layout="row">
                          <md-list  ng-cloak>
                            <md-subheader class="md-no-sticky">List of achieved certificates</md-subheader>
                              <md-list-item ng-repeat="certificate in certificates">
                                <p> {{ certificate.name }} </p>
                                 <md-button class="md-primary md-raised" ng-click="showAdvanced($event)">
                                    View Image
                                 </md-button>
                                 <md-checkbox ng-model="data.cb1" aria-label="Approve">
                                    Checkbox 1: {{ data.cb1 }}
                                 </md-checkbox>
                                 <md-checkbox class="md-secondary" aria-label="Certificates" ng-model="certificateData.wanted"></md-checkbox>
                              </md-list-item>
                          </md-list>
                        </div>
                        <md-button type="submit" class="md-primary">Submit</md-button>
                      </form>
                    </div>
               </md-content>
            </md-card-content>
          </md-card>
          </md-tab>
        </md-tabs>
      </md-content>
  </div>
  <div flex="20" style="max-width: 20%;"></div>
</div>
