<md-dialog aria-label="Certificate">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Certificate</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()" aria-label="Cancel">
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <h2>Certificate</h2>
        <img style="margin: auto; max-width: 100%;" alt="Certificate Image" src="{{path}}">

      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="answer('Close')" aria-label="Close">
        Close
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
